
<h1>Authors</h1>

<table>
	<tr>
		<td>First Name</td>
		<td>Last Name</td>
		<td>Year</td>
	<tr>

	<% @authors.each do |author| %>
	<tr>
		<td><%= author.first_name %></td>
		<td><%= author.last_name %></td>
		<td><%= author.year %></td>
	</tr>
	<% end %>
</table>
